.sidebar {
    width: 25vw;
    height: 100vh;
    background-color: #f7f5f5;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 8vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.score {
    font-size: 3vw;
    margin: 2vh;
}

button {
    font-size: 1.5vw;
    padding: 1vh 2vw;
    margin: 1vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-left: 25vw;
    gap: 2vh;
    padding-top: 15vh;
    justify-content: flex-start;
}

.content-header {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin: 0;
    padding: 3vh 0;
}

.item {
    display: none;
    text-align: center;
    background-color: rgb(101, 194, 206);
    max-width: 50vw;
    padding: 3vh;
}

.active {
    display: block;
}

.next {
    text-align: right;
    position: relative;
    top: 3vh;
}

img {
    width: 40vw;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 2vw;
}



